@import '../../sassStyles/mixins';
@import '../../sassStyles/colors';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);
}

.pokemon-details {
  position: relative;

  display: flex;
  gap: 20px;
  padding: 32px 16px;

  background-color: $color__main;
  border-radius: 16px;

  @include onTablet {
    gap: 50px;
    padding: 32px 70px;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;

    padding: 12px;

    background-color: $color__disabled;
    border-radius: 12px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__cross {
    display: block;
    width: 14px;
  }

  &__evolutions {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__evolution {
  }

  &__evolution-img {
    display: block;
    margin: 0 auto;
    width: 100px;

    @include onTablet {
      width: 180px;
    }
  }

  &__evolution-name {
    text-align: center;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $color__text-main;

    transform: translateY(-100%);
  }

  &__text {
    color: $color__text-main;
  }

  &__name {
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 25px;

    border-bottom: 1px solid $color__card-border;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__list {
    margin-bottom: 24px;
  }

  &__detail {
    padding: 5px 0;
    padding-right: 8px;

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    border-bottom: 1px solid $color__card-border;

    @include onTablet {
      padding: 8px 0;
      font-size: 16px;
    }
  }

  &__value {
    font-weight: 400;
  }

  &__metamask {
    padding: 12px 24px;

    font-size: 16px;
    color: $color__text-main;

    background-color: $color__accent;
    border-radius: 12px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &--disabled {
      background-color: $color__disabled;
      color: $color__disabled-text;
      pointer-events: none;
    }
  }
}
