@import '../../sassStyles/mixins';

.pokemons-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  row-gap: 24px;

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @include onSmallDesktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
  }
}
